book-recommendation-dataset/
books_sql.egg-info
data/
*__pycache__*
.env
venv/
/logs/
build/

# dbt
dbt/target/
dbt/logs/
dbt/dbt_packages/

# docs
docs/compiled/
docs/graph.gpickle
docs/partial_parse.msgpack
docs/run_results.json
docs/graph_summary.json
docs/semantic_manifest.json